// main SASS file

@import "variables";
@import "mixins";
@import "queries";


/***********************************************
                DEFAULTS
***********************************************/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  font-size: 16px;
  font-family: $font-stack;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $header-font;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

@include clearfix;

/***********************************************
              LAYOUT
***********************************************/


.bg-header {
  background-color: $bg-color;
  background-color: $light-blue;
  color: $dark-grey;
  border-bottom: 1rem solid $med-blue;
  border-top: 1rem solid $dark-blue;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $dark-blue;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  @include bg-styles($light-brown, $dark-brown);
}

.bg-content1 {
  @include bg-styles($bg-color, $dark-grey);
}

.bg-content2 {
  @include bg-styles($light-blue, $dark-blue);
}

.bg-footer {
  @include bg-styles($bg-color, $light-grey);
}

header {
  width: 400px;
  /* default */
  margin: 0 auto;
  position: relative;
  h1 {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    width: 100%;
    > ul li {
      width: 100%;
      float: none;
    }
  }
}

section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;

  }
  &.content1, &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid $dark-blue;
  margin-bottom: 2rem;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: 2rem 0;
  p:last-child {}
}


/***********************************************
                NAVIGATION
***********************************************/

header {
  nav {
    padding: 2rem 0;
    clear: both;
    > ul > li > a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $dark-grey;
      font-size: 1.414rem;
      letter-spacing: 0.25rem;
      border: 1px solid $light-grey;
      border-bottom: none;
      padding: 1.0rem 2rem;
      line-height: 1;
      background-color: $bg-color;
      &:hover {
        font-weight: 700;
        color: $dark-brown;
      }
    }
  }
  h1 {
    color: $dark-brown;
    letter-spacing: 0.1rem;
    i.fa-lg {
      display: block;
      width: 25%;
      float: left;
      font-size: 7rem;
      line-height: 12.7936rem;
      color: $light-brown;
      ~ span {
        float: right;
        width: 75%;
        font-size: 3.998rem;
        /**
        2 lines of 3.998 * 1.6 = 12.7936
        **/
        padding-left: 1rem;
        text-align: right;
      }
    }
  }
}

/***********************************************
                CONTENT
***********************************************/

header h1 {
  color: $dark-brown;
  letter-spacing: 0.1rem;
  i.fa-lg {
    display: block;
    width: 25%;
    float: left;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: $light-brown;
    ~ span {
      float: right;
      width: 75%;
      font-size: 3.998rem;
      /**
      2 lines of 3.998 * 1.6 = 12.7936
      **/
      padding-left: 1rem;
      text-align: right;
    }
  }
}

.focal {
  h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
  }
  .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem;
    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
  }
  h4 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
  }
  li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
  }
}

/***********************************************
                FOOTER
***********************************************/

footer {
  h4 {
    font-size: 1.414rem;
    padding: 0.5rem 2rem;
    color: $dark-brown;
  }
  p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $dark-grey;
  }
  .fa-circle {
    color: $dark-grey;
  }
  h4 {
    &[lang=de] {
      display: block;
    }
    &[lang=en], &[lang=ar], &[lang=ru] {
      display: none;
    }
  }
}


/***********************************************
              MEDIA QUERIES
***********************************************/

header{
    @include mobile{
		width: 700px;
		margin: 0 auto;
		min-height: 8rem;
	}

    @include tablet{
		width: 900px;
		margin: 0 auto;
	}

    @include desktop{
		width: 1400px;
		margin:0 auto;
	}

    h1{
        @include mobile{
            width: 100%;
            color: $dark-brown;
		}

        @include tablet{
            width: 100%;
            color: $dark-blue;
		}

        @include desktop{
            width: 100%;
            color: $dark-brown;
		}

        i.fa-lg{
            @include mobile{
				@include fa-lg($dark-brown);
            }

			@include tablet{
				@include fa-lg($dark-blue);
			}

			@include desktop{
				@include fa-lg($dark-brown);
			}


            ~ span{
				@include mobile{
					float: none;
					letter-spacing: 0.25rem;
					font-size: 3.998rem;
					text-align: left;
				}
				@include tablet{
					float: none;
					letter-spacing: 0.25rem;
					font-size: 3.998rem;
					text-align: left;
				}
				@include desktop{
					float: none;
					letter-spacing: 0.25rem;
					font-size: 3.998rem;
					text-align: left;
				}
             }
        }
    }
    &:before,
    &:after{
        @include mobile{
            width:230px;
		}
        @include tablet{
            width:300px;
		}
        @include desktop{
            width:450px;
		}

    }
    nav{
        @include mobile{
			@include nav-position;
        }
        @include tablet{
      		@include nav-position;
		}
        @include desktop{
			@include nav-position;
		}
        >ul{
            >li{
            @include mobile{
                width:20%;
                float: left;
			}
            @include tablet{
                width:20%;
                float: left;
                background-color: $bg-color;
			}
            @include desktop{
                width:20%;
                float: left;
                background-color: $bg-color;
			}

                >a{
                     @include mobile{
                        font-size: 1rem;
                        line-height: 2rem;
                        min-height: 6rem;
                        border:none;
                        border-left:1px solid $light-grey;
                        padding:1.0rem;
                        background-color: $bg-color;
					 }
                    @include tablet{
                        font-size: 1rem;
                        line-height: 2rem;
                        min-height: 2rem;
                        border:none;
                        border-left:1px solid $light-grey;
                        padding: 0 1.0rem;
                        margin: 1.0rem 0;
                        background-color: $bg-color;
					}
                    @include desktop{
                        font-size: 1.414rem;
                        line-height: 2rem;
                        min-height: 2rem;
                        border:none;
                        border-left:1px solid $light-grey;
                        padding:0 1.0rem;
                        margin:1.0rem 0;
                        background-color: $bg-color;
					}

                    &:last-child{
                         @include mobile{
                            border-right:1px solid $light-grey;
						 }
                        @include tablet{
                            border-left:1px solid $light-grey;
						}
                        @include desktop{
                            border-left:none;
						}
                    }

                }
            }
        }
    }
}


section.focal{
    @include mobile{
        width: 700px;
        margin: 0 auto;
	}
    @include tablet{
        width: 900px;
        margin: 0 auto;
	}
    @include desktop{
        width: 1400px;
        margin: 0 auto;
	}

    h2{
		@include tablet{
			width: 600px;
			margin: 0 auto;
		}
		@include desktop{
			font-size: 3.998rem;
			width: 600px;
			margin: 0 auto;
		}
    }
    p.author{
        @include tablet{
            width: 600px;
            margin: 0 auto;
		}
        @include desktop{
            width: 600px;
            margin: 0 auto;
		}
    }
}

section.content1{
    @include mobile{
        width: 700px;
        margin: 0 auto;
	}
    @include tablet{
        width: 900px;
        margin: 0 auto;
	}
    @include desktop{
        width: 1400px;
        margin: 0 auto;
	}
    h3{
        @include tablet{
            font-size: 1.999rem;
            font-weight: 100;
		}
         @include desktop{
            font-size: 2.827rem;
            font-weight: 100;
		 }

        .fa-2x{
			@include tablet{
				font-size: 1.999rem;
				padding-right: 1rem;
			}
			@include desktop{
				font-size: 2.827rem;
				padding-right: 1rem;
				vertical-align: middle;
			}
        }
    }
}

section.content2{
    @include mobile{
        width: 700px;
        margin: 0 auto;
	}
    @include tablet{
        width: 900px;
        margin: 0 auto;
	}
    @include desktop{
        width: 1400px;
        margin: 0 auto;
	}
    h4{
    @include mobile{
        font-size: 1.414rem;
	}
    @include tablet{
        font-size: 1.414rem;
	}
    @include desktop{
        font-size: 1.999rem;
	}
    }
    li{
        @include mobile{
            font-size: 1.414rem;
		}
        @include tablet{
            font-size: 1.414rem;
		}
        @include desktop{
            font-size: 1.999rem;
		}
    }
    p{
        @include tablet{
            font-size: 1rem;
            font-weight: 400;
		}
        @include desktop{
            font-size: 1.414rem;
            font-weight: 400;
		}
    }
}


footer{
    @include mobile{
        width: 700px;
        margin: 0 auto;
	}
    @include tablet{
        width: 900px;
        margin: 0 auto;
	}
    @include desktop{
        width: 1400px;
        margin: 0 auto;
	}

    .fa-circle{
        @include mobile{
            color: $med-blue;
		}
        @include tablet{
            color: $light-brown;
		}
        @include desktop{
            color: $med-blue;
		}
    }

    p{
    @include desktop{
        font-size: 1.414rem;
        letter-spacing: 0.2rem;
	}
    &:last-child{
        @include desktop{
            color: $light-grey;
		}
    }

    }
    .col-2{
        &:last-child{
            @include mobile{
                unicode-bidi: bidi-override;
                direction: rtl;
			}
        }
    }

    h4[lang=ar]{
        @include mobile{
           display:block;
		}
        @include tablet{
            display:none;
		}
        @include desktop{
            display:none;
		}
    }

    h4[lang=de]{
        @include mobile{
            display:none;}
        @include tablet{
            display:none;}
        @include desktop{
            display:none;}
    }
    h4[lang=en]{
        @include mobile{
            display:none;
		}
        @include tablet{
            display:none;
		}
        @include desktop{
            display:block;
		}
    }
    h4[lang=ru]{
        @include mobile{
            display:none;
		}
        @include tablet{
            display:block;
		}
        @include desktop{
            display:none;
		}
    }

}

.col-4{
    @include mobile{
		float:left;
		@include colPosition(4, 0%, 200%);
    }
    @include tablet{
		float:left;
		@include colPosition(4, 4%, 100%);
    }
    @include desktop{
		float:left;
		@include colPosition(4, 4%, 100%);
    }
}


.col-3{
    @include tablet{
		float:left;
		@include colPosition(3, 5%, 100%);
    }
    @include desktop{
		float:left;
		@include colPosition(3, 5%, 100%);
    }
}
